.menu {
    position: absolute;
    background: #5B546B;
    white-space: nowrap;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    padding: 0.5rem 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50);

    > li {
        padding: 0.5rem 1.2rem;

        &:hover {
            color: #fff;
            font-weight: 600;
        }

        * {
            color: inherit;
        }
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #5B546B;
        clear: both;
    }
}
